@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#backgroundimage {
    background: url(/inz_v4/web_main/photos/bg.jpg);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
  }
/* body {
    width: 100%;
    min-height: 10vh;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(bg.jpg);
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/

.container {
    width: 400px;
    min-height: 400px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 40px 30px;
    /*
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(bg.jpg);
    background-position: center;
    background-size: cover;
    */
}

.container .login-text {
    color: #111;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
}

.container .login-social {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    margin-bottom: 25px;
}

.container .login-social a {
    padding: 12px;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    color: #FFF;
    transition: .3s;
}

.container .login-social a i {
    margin-right: 5px;
}

.container .login-social a.facebook {
    background: #4267B2;
}

.container .login-social a.twitter {
    background: #1DA1F2;
}

.container .login-social a.google-plus {
    background: #db4a39;
}

.container .login-social a.linkedin {
    background: #0e76a8;
}

.container .login-social a.facebook:hover {
    background: #3d5fa3;
}

.container .login-social a.twitter:hover {
    background: #1991db;
}

.container .login-social a.google-plus:hover {
    background: #ca4334;
}

.container .login-social a.linkedin:hover {
    background: #0b5c81;
}

.container .login-email .input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}

.container .login-email .input-group input {
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
}

.container .login-email .input-group input:focus, .container .login-email .input-group input:valid {
    border-color: #a29bfe;
}

.container .login-email .input-group .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #a29bfe;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
}

.container .login-email .input-group .btn:hover {
    transform: translateY(-5px);
    background: #6c5ce7;
}

.login-register-text {
    color: #111;
    font-weight: 600;
}

.login-register-text a {
    text-decoration: none;
    color: #6c5ce7;
}

@media (max-width: 430px) {
    .container {
        width: 300px;
    }
    .container .login-social {
        display: block;
    }
    .container .login-social a {
        display: block;
    }
}
 



  .foot
{
     
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:100px;
    
    background-color: #413f3f;
}

h2{
font-size: 28px;
font-weight: 600;
}

h3{
font-size: 16px;
font-weight: 400;
}

/* search */
.search-container
{
    float: right;
    margin-right:5%;
 
 
}
  
::placeholder{
    color:gray;
    padding-left:8px;
}
input[type=text]
{
    height:32px;
    width: 200px;
    padding: 6px;
    font-size: 17px;
    border: none;
    background-color: #ccc;
    color:black;
    font-weight: 500;
    margin-top:5px;
    border-radius:32px;
    
}

  
.search-container button
{
    height:32px;
    margin-top:5px;
    float: right;
    padding: 6px;
    background: none;
    font-size: 24px;
   border:none;
    cursor: pointer;
    color: #413f3f;
    border-radius:32px;
  
}
  
.search-container button:hover 
{
    
    color:goldenrod;
}

.fa-search{
    margin-top: -1px;
}
/*menu*/

.menu
{
    height: 50px;
    background-color: white;
    padding-top: 15px;

}


.menu img
{
    margin-left:5%;

}
.links
{
    margin-left: 30px;
    color:black;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.links2{
    color:white;
    font-size:40px;
    font-weight: 600;
    cursor: pointer;
}

.links3{
    color:white;
    font-size:40px;
    font-weight: 600;
   
}

.links:hover, .links2:hover
{
    color:goldenrod;
    text-decoration: none;
}
.links3:hover{
    color:white;
    text-decoration: none;
}
.login:hover{
    color:white;
    background-color: goldenrod;
}


.login
{
    color: white;
    border-color: gray;
    border-radius: 16px;
    padding: 5px 15px;
    background-color: #413f3f;
    
}



/*strona główna - content */

.content1
{
    background-image: url("photos/mainbackground.jpg");
    background-repeat: no-repeat;
    text-align:center;
    background-size: cover;
    height: 70%;
    color:white; 
}

.content1_contact
{
    background-image: url("photos/conctactbackground.jpg");
    background-repeat: no-repeat;
    text-align:center;
    background-size: cover;
    height: 70%;
    color:white; 
}
.content1_shop
{
    background-image: url("photos/shopbackground.jpg");
    background-repeat: no-repeat;
    text-align:center;
    background-size: cover;
    height: 70%;
    color:white; 
}

.content1 h2
{
    padding-top: 12%;
    margin-left:5%;
    margin-right:5%;
    font-size: 40px;
    color:white;
    text-shadow: 1px 1px 8px black;
}
.content1_contact h2, .content1_shop h2{
    padding-top: 12%;
    text-shadow: 1px 1px 8px black;
}
.content1 h2:hover
{
color:goldenrod;
}

/*slajdy z zegarkami*/
.content2
{
    margin-top: 5%;
    height: 45%;
    

}
.content2 h2
{
    text-align: center;
    border-bottom: 1px solid lightgrey; 
    line-height: 0.1em;
    margin: 10px 0 20px;
}
.content2 h2 span
{ 
    background:#fff; 
    padding:0 10px; 
}

.bestsellers
{

    display: flex;
    justify-content: center;
}
.gallery img{
    object-fit: cover;
}

.gotoshop
{
    float: left;
    margin-left: 10%;
    margin-top:10%;
    height: 45px;
    width: 48px;
    font-size: 15px;
    font-weight: bold;
    color:black;
    background-color: rgb(255, 188, 19);
    border:2px solid #413f3f;
    
}
.gg-shopping-cart{
    margin-left:5px;
}
.content2 button:hover
{
    transform: scale(1.3);
    background-color: lightslategray;
}

.gallery 
{
    background-color: 413f3f;
    margin: 10px;
    border: 1px solid #ccc;
    float: left;
    color:white;
    width: 180px;
    object-fit: contain;

}
  
div.gallery:hover 
{
    border: 1px solid #777;
    transform: scale(1.15);
}
  
div.gallery img 
{
    width: 100%;
    height: 365px;
}
  
div.desc
{
    padding: 15px;
    text-align: center;
}

.content3, .content4
{
    height: 400px;
    margin-top: 3%;
    display: flex;
    text-align: justify;
   
    
}
.content4_a{
    height: 400px;
    display: flex;
    text-align: justify;
    margin-top: 20px;
}


.pictureleft
{
    filter: saturate(155%);
    margin-left: 8%;
    flex: 0 0 42%;
    float:left;
    height: auto;
    background-repeat: no-repeat;
    
    
    
}

.pictureright
{
    
    filter: saturate(155%);
    flex: 0 0 42%;
    float:left;
    height: auto;
    background-repeat: no-repeat;
    margin-right:8%;
   
    
}


/* --------------------SKLEP--------------*/
.categories
{   
    
    width:auto;
    height: auto;
    border-right: 2px solid  rgb(221, 179, 40);
    margin-left: 17%;
    float:left;
    margin-top: 5%;
    padding-right: 3%;
    margin-right: 5%;
    
    
}
.categories li
{   
    padding-top:5px;
    list-style-type: none;

}
.categories a
{

    text-decoration: none;
    color:black;

}
.categories a:hover
{

    text-decoration: none;
    color:blueviolet;

}

.watches
{
    width:auto;
    height: auto;
    margin-top: 5%;
    float:left;
    position: relative;
}


/*----------O nas-----------*/

.info
{

    margin-top: 3%;
    display: flex;
    height: 500px;
}
.photo
{
    border:10px solid #413f3f;
    border-style:inset;
    border-radius: 3%;
    margin-left: 16%;
    flex: 0 0 25%;
    float:left;
    height: auto;
    background-repeat: no-repeat;
    
    
}

.description_right
{
    
    padding-top: 2%;
    padding-left: 8%;
    flex: 1;
    height: auto;
    padding-right: 5%;
    
}

.description_left
{
    
    padding-top: 2%;
    padding-left: 5%;
    flex: 1;
    height: auto;
    padding-right: 8%;
    
}

/*----------KONTAKT-------------*/
dl.faq
{
    margin-top: 80px;
    text-align: center;
}
dl.faq button 
{
    margin: 0;
    margin-top: 16px;
    padding: 4px 8px;
    font-weight: bold;
    font-size: 110%;
    border: none;
    background-color: transparent;
    border-radius: 5px;
  }
  
  dl dd 
  {
    margin: 0;
    padding: 0;
    margin-left: 1.5em;
    padding-bottom: 20px;
    border-bottom: 2px solid #413f3f;
  }
  
  dl.faq .desc 
  {
    margin: 0;
    margin-top: 0.25em;
    padding: 0.25em;
    font-size: 110%;
    display: none;
    background-color: rgb(241, 237, 232);
  }
  
  dl.faq button:hover,
  dl.faq button:focus 
  {
    padding: 2px 6px;
    background-color: goldenrod;
    border: 2px solid #413f3f;
    cursor: pointer;
  }
  
  dl.faq button[aria-expanded="false"]::before 
  {
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' style='forced-color-adjust: auto;'%3E%3Cpolygon points='1 1, 1 11, 8 6' fill='currentColor' stroke= 'currentColor' /%3E%3C/svg%3E%0A");
    position: relative;
    left: -2px;
  }
  
  dl.faq button[aria-expanded="true"]::before 
  {
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' style='forced-color-adjust: auto;'%3E%3Cpolygon points='1 1, 11 1, 6 8' fill='currentColor' stroke= 'currentColor' /%3E%3C/svg%3E ");
    position: relative;
    left: -4px;
    top: 2px;
  }
